.popup-image__btn-close {
    background: url(../../../images/Close\ Icon.svg)center no-repeat;
    width: 32px;
    height: 32px;
    position: absolute;
    right: -35px;
    top: -35px;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    opacity: 1;
}

.popup-image__btn-close:hover {
    opacity: 0.5;
}

@media screen and (max-width: 320px) {
    .popup-image__btn-close{
        width: 20px;
        height: 20px;
        right: 0;
        top: -35px;
    }
}